body {
    text-align: center;
    padding: 5px 5%;
    background-image: url('../img/bg1.jpg');
    background-size: 100%;
    color: white;
    font: 12pt 'Trebuchet MS';
}

header>h1 {
    color: blue;
    /* селектор h1 внутри header */
    text-shadow: 2px 2px white;
    font-size: 50px;
}